In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv('W:/Python Programs/DataScience/train.csv',low_memory=False)
df

# Display data

,Id,County,Province_State,Country_Region,Population,Weight,Date,Target,TargetValue
0,1,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-23,ConfirmedCases,0
1,2,NaN,NaN,Afghanistan,27657145,0.583587,2020-01-23,Fatalities,0
2,3,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-24,ConfirmedCases,0
3,4,NaN,NaN,Afghanistan,27657145,0.583587,2020-01-24,Fatalities,0
4,5,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-25,ConfirmedCases,0
...,...,...,...,...,...,...,...,...,...
969635,969636,NaN,NaN,Zimbabwe,14240168,0.607106,2020-06-08,Fatalities,0
969636,969637,NaN,NaN,Zimbabwe,14240168,0.060711,2020-06-09,ConfirmedCases,27
969637,969638,NaN,NaN,Zimbabwe,14240168,0.607106,2020-06-09,Fatalities,0
969638,969639,NaN,NaN,Zimbabwe,14240168,0.060711,2020-06-10,ConfirmedCases,6
969639,969640,NaN,NaN,Zimbabwe,14240168,0.607106,2020-06-10,Fatalities,0

In [11]:
# Describe dataframe

df.describe()

                  Id    Population         Weight    TargetValue
count  969640.000000  9.696400e+05  969640.000000  969640.000000
mean   484820.500000  2.720127e+06       0.530870      12.563518
std    279911.101847  3.477771e+07       0.451909     302.524795
min         1.000000  8.600000e+01       0.047491  -10034.000000
25%    242410.750000  1.213300e+04       0.096838       0.000000
50%    484820.500000  3.053100e+04       0.349413       0.000000
75%    727230.250000  1.056120e+05       0.968379       0.000000
max    969640.000000  1.395773e+09       2.239186   36163.000000

In [13]:
#Data shape

df.shape

(969640, 9)

In [27]:
df.shape

(880040, 9)

In [14]:
#Finding unique values

df.nunique()

Id                969640
County              1840
Province_State       133
Country_Region       187
Population          3408
Weight              6816
Date                 140
Target                 2
TargetValue         2603
dtype: int64

In [21]:
#checking for null values

df.isnull().sum()

#df.dropna(subset = [""], implace=True)

Id                    0
County            89600
Province_State    52360
Country_Region        0
Population            0
Weight                0
Date                  0
Target                0
TargetValue           0
dtype: int64

In [25]:
#Filling Null values

df.dropna(subset = ["County"], inplace=True)

In [26]:
df.isnull().sum()

Id                0
County            0
Province_State    0
Country_Region    0
Population        0
Weight            0
Date              0
Target            0
TargetValue       0
dtype: int64

In [52]:
# Most cases registered 

#df['Country_Region'].value_counts()

print("Most number of cases",df['Country_Region'].value_counts()[:10])

Most number of cases US                895440
China               9520
Canada              3640
France              3080
United Kingdom      3080
Australia           2520
Netherlands         1400
Denmark              840
Belgium              280
Eswatini             280
Name: Country_Region, dtype: int64

In [55]:
#Highest Number of cases in provience

print("Most number of cases",df['Province_State'].value_counts()[:10])

Most number of cases Texas             71400
Georgia           44800
Virginia          37520
Kentucky          33880
Missouri          32760
Kansas            29680
Illinois          28840
North Carolina    28280
Iowa              28000
Tennessee         26880
Name: Province_State, dtype: int64